.mainchat
  .mainheader
    .leftbox
      .groupname
        = @group.name
      .membername
        - @group.users.each do |n|
          = n.name
    .editbtn
      = link_to edit_group_path(current_user) do
        .Edit
          Edit 
  .mainmessage
    .boxzero
      = render partial: 'messages', collection: @messages
      .mainmessage__box
        .textgroup
          .username
          .textimg
      .textdate
      
  .form
    .newmessage
      = form_for [@group, @message] do |f|
        .inputbox
          = f.text_field :content, class:'input', placeholder: 'type a message'
          .img
            = f.label :image do
              %i.fa.fa-image
              = f.file_field :image, class: 'inputbox__image'
          = f.submit 'Send', class: 'submit'
