.mainchat
  .mainheader
    .leftbox
      .groupname
        //test
      .membername
        //Member: zero
    .editbtn
      = link_to edit_user_path(current_user) do
        Edit 
  .mainmessage
    = render partial: 'messages', collection: @messages
    .mainmessage__box
      .textgroup
        .username
          
        .textimg
          
    .textdate
      
  .form
    .newmessage
      
      = form_for [@group, @message] do |f|
        .inputbox
          .input
            = f.text_field :content, placeholder: 'type a message'
          .img
            = f.label :image do
              = icon('fas', 'img')
              = f.file_field :image, class: 'inputbox__image'
        .submit
          = f.submit 'Send'
