.sidechat
  .header
    .header__logo
      = current_user.name
    = link_to new_group_path, class: "header__btn" do
      %i.fa.fa-edit
      %span<>
    = link_to edit_user_path(current_user), class: "header__cogbtn" do
      %i.fa.fa-cog
      %span<>  
  .contents
    - current_user.groups.each do |contents__group|
      .contents__group
        = link_to group_messages_path(contents__group) do
          .contents__group__name
            = contents__group.name
          .contents__group__name2
            まだメッセージがありません
            